.git
.gitignore
.vercel
.nuxt
node_modules
**/node_modules
dist
**/dist
test-results
.pnpm-store
.DS_Store
.env
.env.local
.env.*
!.env.example
apps/web-antd/.env
apps/web-antd/.env.development
apps/web-antd/.env.local
!apps/web-antd/.env.production
